{
    "databases":[
        " ** CONNECTION STRING ** ", (Make sure to specify a `Driver` for ODBC to work)
        " ** CONNECTION STRING ** "
        // IMPORTANT: Listing connection strings here leaves security details out in the open.
        // In order to avoid credentials getting leaked, please DENY PERMISSIONS to this file to anyone but the administrator and the IIS user of the application.
    ],
    "object_types":[
        "U", "V", "P"
        // Note: Not all levels are supported. Level 0 objects will work. Level 1 maybe. Level 2 will probably not work.
        // Read more on object types at https://docs.microsoft.com/en-us/sql/relational-databases/system-catalog-views/sys-objects-transact-sql?view=sql-server-2017
    ],
    "sql_cols":[
        // Name column is first and is selected by default. This can only be changed in the code. See name_col_selector.
        {
            "id":"type_desc",
            "desc":"Type"
        },
        {
            "id":"@@SERVERNAME",
            "desc":"Server"
        }
    ],
    "extend_cols":[
        {
            "id": "MS_Description",
            "desc": "Description"
        }
    ],
    "timeout": 5 // Timeout for connecting to the databases
}