{
    "databases":[
        " ** CONNECTION STRING ** ",
        " ** CONNECTION STRING ** "
    ],
    "object_types":[
        "U", "V", "P"
        Read more on object types at https://docs.microsoft.com/en-us/sql/relational-databases/system-catalog-views/sys-objects-transact-sql?view=sql-server-2017
    ],
    "sql_cols":[
        {
            "id":"name",
            "desc":"Name"
        }
        {
            "id":"type_desc",
            "desc":"Type"
        }
    ]
}